*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(250, 250, 250);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 12px rgb(182, 176, 176);
    height: 75px;
}
header span{
    background-color: rgb(103, 103, 208);
    color: white;
    padding: 4px 0px;
    border-radius: 8px;
    font-weight: 500;
    margin-right: 7px;
    

}
header h3{
    margin-left: 90px;
    /* padding-top: 15px; */
    font-size: 23px;
    margin-top: 9%;
    margin-top: px;
    color: rgb(61, 58, 58);
    /* cursor: pointer */
}
header #bar{
    display: none;
}

header ul{

    margin-right: 80px;
    margin-top: 18px;
}
header li{
    display: inline-block;
    padding: 10px 20px;
}

header a{
    text-decoration: none;
    color: rgb(124, 119, 119);
}
#dash{
    color: rgb(92, 92, 227);
    background-color:#f1f0f0;
    padding: 5px 15px;
    border-radius: 6px;
}
header a:hover:not(#dash){
    color: black;
}








 
.main{
    margin-top: 50px;
}
.main h1{

    margin-left: 90px;
    font-size: 25px;
}
.main .task::before{
    content: '';
    border: 2.5px solid rgb(103, 103, 208);
    border-radius: 5px;
    letter-spacing: 2px;
    margin-right: 13px;
}
.sub-main{
    display: flex;
    margin-top: 40px;

}









.left{
    background-color: white;
    width: 35vw;
    margin-left: 92px;
    box-shadow: 0 0 10px rgb(219, 211, 211);
    border-radius: 15px;
}
.left h4{
    padding: 10px;
    margin-top: 20px;
    margin-left: 7px;
    font-size: 20px;
}
#red{
    border: 2px solid red;
}


.up{
    position: relative;
}
.up label{
    position: absolute;
    left: 12px;
    top: -8px;
    background: white;
    padding: 0 3px;
    font-size: 12px;
    color: rgb(40, 40, 214);
}
form{
    margin: 2px 5px;
}
.act{
    /* padding-right: 4px; */
    margin: 2px 6%;
}

.left .ip{
    width: 100%;
    padding: 10px 0px;
    
}



.inpt ,select{
    padding:10px ;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    /* max-width: 100%; */
    display: inline-block;
    border: 2px solid rgb(220, 215, 215);
    box-sizing: border-box;
}
.inputs{
    width: 100%;
    cursor: pointer;
    margin-top: 8px;

}

textarea{
    height: 10vh;
}


#task{
    display: block;
    margin-top: 18px;
}

.ip p{
    text-align: center;
    color: rgb(62, 62, 235);
    margin-top:0px;
   
    font-weight: bold;
}



 #div{
    /* margin-left: 6px; */
    width: 100%;

    height: 38px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
    padding: 2px ;

}

textarea::placeholder{
    padding-top: 20px;
   
}
#color{
    margin-top: 0px;
}


.lab{
    margin-top: 0;
    color: rgb(74, 69, 69);
    
}

.che-sub{
    display: grid;
    padding: 10px 0px;
    grid-template-columns: 125px 135px;
    /* grid-template-columns: 125px 110px; */
    row-gap: 20px;
    margin-top: 5px;

}
.check input[type="radio"],input[type="checkbox"]{
    width: 17px;
    height: 15px;
    cursor: pointer;
    background-color: blue;
}
#ip{
    margin-left: 0px;
}
.label {
    cursor: pointer;
    /* margin-top: 20px; */
}

.check input[type="checkbox"],input[type="radio"]{
    accent-color: rgb(71, 71, 202);
    
}
.ip input[type="range"]{
    accent-color: rgb(90, 90, 232);
    /* background-color: #f1f0f0; */
}

.label{
    margin-left: 6px;
}

.file{
    margin: 12px 0px;
    width: 100%;
}
.upload{
    text-align: center;
    font-family: Arial, sans-serif;
}

        
.file-upload{
    display: inline-block;
    border: 2px dashed rgb(225, 218, 218);
    border-radius: 5px;
    padding: 10% 1px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 98%;
    background-color: rgb(254, 252, 252);
}
        
.text {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.supported {
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    
}

.fileinput {
    display: none;
}

#btn{
    margin: 30px 40px;
    margin-left: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 65% 38%;

}
#btn button{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 7%;
}
#i{
    margin-right: 4px;

}
#btn1{
    /* padding: 8.9% 6%; */
    padding: 12% 1px;
    background-color: rgb(113, 113, 221);
    color: white;
    font-weight: bold;
}
#btn2{

    padding:10% 20px;
    position: relative;
    /* top: .5rem; */
    font-weight: bold;
}











.right{
    background-color: white;
    margin-left: 40px;
    margin-right: 95px;
    border-radius: 15px;
     box-shadow: 0 0 10px rgb(219, 211, 211);
}

.right .head{
    display: flex;
    justify-content:space-between;
}
.head nav{

    margin-right: 3%;
    margin-top: 40px;
}


.head li{
    display: inline-block;

    padding-right: 10px;
}
.head h2{
    margin-left: 33px;
    margin-top: 35px;
}
.head a{
    text-decoration: none;
    color: black;
    border: 1px solid rgb(179, 172, 172);
    padding: 10px 15px;
    border-radius: 25px;
}
#all{
    background-color: rgb(99, 99, 203);
    color: white;
}
.head a:hover:not(#all){
    background-color: rgb(226, 221, 221);
}




.sub-right{
    display: grid;
    /* grid-template-columns: 400px 400px; */
    grid-template-columns: auto auto;
    margin-top: 33px;
    gap: 20px;
    padding: 0px 20px;

}
.con{
    border: 1px solid rgb(226, 220, 220);
    margin: 2px 15px;
    border-radius: 15px;
    cursor: pointer;
    
}
.sub-right .con:hover{
    /* width: 50%; */
    transform: scale(1.03);

}
.main-high{
    display: flex;
    justify-content: space-between;
    margin: 18px 1px;
}

.high{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 12px;
    background-color: rgb(253, 207, 207,0.5);
    color: red;
    font-weight: bold;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    
}
.inpro{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    color: rgb(105, 100, 100);
    font-weight: bold;
    margin-right: 8px;

}

.dot3{
    height: 10px;
    width: 10px;
    background-color: rgb(14, 98, 182);
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}
.dot4{
    
    height: 10px;
    width: 10px;
    background-color:orange;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}
.dot5{
    height: 10px;
    width: 10px;
    background-color:green;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    
}

.medium{
     display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(254, 227, 177,0.5);
    color: orange;
    font-weight: bold;
}
.dot1{
    height: 10px;
    width: 10px;
    background-color: orange;
    display: inline-block;
    border-radius: 50%;
}

.low{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(193, 238, 193);
    color: green;
    font-weight: bold;
    
}


.dot2{
    
    height: 10px;
    width: 10px;
    background-color:green;
    display: inline-block;
    border-radius: 50%;
}


.con img{
    width: 18px;

    margin-right: 10px;
}

.con h3{
    margin: 20px 25px;
    font-size: 20px;
}
.con .p{
    margin-top: 30px;
}
.con .p1{
    margin-top: 25px;

}
.con p{
    margin: 15px 25px;
    font-size: 18px;
    color: rgb(103, 95, 95);
}

.p2{

    border-bottom: 1px solid rgb(204, 196, 196);
    padding-bottom: 15px;
}
.ul{
    display: flex;
    justify-content: space-between;
    /* width:200px; */
}
.ul li{
    margin: 20px;
    font-weight: bold;
}
.ul .red{
    background-color: rgb(243, 195, 195,0.5);
    border-radius: 15px;
    color: red;
    /* padding: 5px 15px; */
}
.ul li span::before{
    content: ".";
    width: 100px;
    height: 10000px;
    font-weight: bold;

    background-color: aqua;
}
.spa{
    display: flex;
    justify-content: space-between;
}

.spa h4{
    background-color: red;
}









 footer{
    background-color: white;
    margin-top: 6%;
 }

 .foot-main{
    display:flex;
    justify-content: center;

 }
 .foot-main div{
    /* margin: 30px 100px; */
    margin: 30px 7%;

 }
 .foot-main ul{
    margin-top: 10px;
 }
 .foot-main li{
    list-style: none;
    padding-top: 18px;
 }
 .foot-main a{
    text-decoration: none;
    color: rgb(143, 140, 140);
 }
 .foot-main p{
    margin-top: 18px;
    color: rgb(143, 140, 140);
    font-size: 18px;
 }

#bottom{
    width:85vw;
    margin: 0 auto ;
    /* padding: 20px; */
    text-align: center;
    border-top: 1px solid rgb(211, 199, 199);
    /* font-size: 0.9rem; */
}

#bottom p{
     color:rgb(99, 96, 96);
    margin-top: 3%;
    text-align: center;
    padding-bottom: 40px;

 }





 /* Tablet view */




 @media screen and (max-width:1150px) {
     
     
     header{
        height: 75px;
     }
     header h3{
        margin-left:20%;
        margin-top: 23px;
        font-size: 25px;
    }
    .un{
        margin-right: 1.8rem;
        margin-top: 8px;
        /* margin-top: %; */
        padding-top: 10px;
    }


    form{
       
        padding:1px 1%;
    }
    .act{
        margin: 1px 2%;
        padding: 2px 0px;
    }



    .sub-main{
        display: block;
    }
    
    .main h1{
        margin-left: 5.5%;
    }



    
    .left{
        margin-left: 5%;
        width: 90%;
    }

    .left .ip{
        width: 100%;
        /* margin: 1px 2%; */
    }
    .inpt{
        width: 100%;
    }



 
    #div{
        /* width: 103%; */
        margin-left: 0px;
    }
    #ip{
        margin-left: 2px;
    }
    .che-sub{
        grid-template-columns: auto auto auto;
    }
    


    .file{
        margin-top: 25px;
        /* margin:  0px 20px; */
        width: 100%;
    }
    .upload{
        margin: 0;
        /* width: 100%; */
    }
    .file-upload{
        
        width: 80%;
        /* margin-right: 500px; */
        padding: 40px 4.2%;
    }
    .file-upload div{
        font-size: 18px;

    }

    #btn{
        /* margin: 40px; */
        margin-left: 2px;
        width: 99%;
    }
   
    
    #btn1{
    
        padding: 5%;
    }
    #btn2{

        /* margin-left: 200px; */
        padding: 3.8%;
        /* width: 40%; */
    }



   
    
    

    
    .right{
        margin-left: 2%;
        width: 90%;
        margin: 5%;
        padding-bottom: 40px;
    }

    .sub-right{
        gap: 10px;
    }
    .sub-right .con{
        margin: 1%;
    }





    
    .foot-main div{
        /* margin: 40px 22px; */
        margin: 40px 5%;
    }
    #bottom{
        width: 90vw;
    }

    .file-upload{
        width: 90%;
    }


}







/* Mobile view */



@media screen and (max-width:620px) {
   header{
    
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 1;
       height: 75px;
  
   }
   header li{
       display:block;
       margin: 0;
   }
 
   header #bar{
       display: block;
       font-size: 30px;
       margin-right: 12px;
       background-color: rgb(233, 230, 230);
       padding: 2px;
       border-radius: 10px;
   }
   .menu-bar{
       font-size: 30px;
       /* margin-top: 5.1%; */
       margin-top: 20px;
       position: relative;
       
   }
   .un{
       display: none;
       margin-right: 0px;
       text-align: center;
       background-color: white;
       position: absolute;
       top: 40px;
       right: 1px;

   }
   .menu-bar:hover .un{
       display: block;
       /* margin-top: 150px; */

   }
   header:active .h1{
       margin-top: 1500px;
       color: red;
   }



   header h3{

       margin-top: 25px;
       margin-left: 10px;
       font-size: 22px;
    
   }






   .main{
       margin-left: 0px ;
   }
   .main h1{
       margin-top: 110px;
       margin-left: 20px;
       font-size: 24px;
   }
   .sub-main{
       display: block;
       margin-top: 35px;
   }



   form{
    margin: 1px 1px;
   }

   .act{
    /* margin-left: 0.5%; */
    padding: 1px 2px;
    margin: 1px 4%;
   }


   .left{

       box-shadow: 0 0 10px rgb(219, 211, 211);

       margin-top: 0px;
       margin-left: 2.7%;
       width: 95%;
       border-radius: 20px;

   }

   .left h4{
       padding: 15px 0;
       margin-top: 10px;
       margin-left: 12px;
   }
   .left .ip{
       /* margin-left: 0.1rem; */
       width: 100%;
       /* background-color: aqua; */
   }
   .inpt{
       width: 100%;
   }
   #task{
    margin: 4px 0;
   }
   #up{
    /* width: 103.9%; */
    max-width: 100%;
    width: 100%;
    /* margin-right: 20rem; */
   }

    #div{

        margin: 15px 0px;
        width: 100%;
    }

     #color{
        padding-top: 0px;
        margin: 0;
    }



    .che-sub{
       grid-template-columns: 125px 110px;

   }

   #btn {
       /* margin: 2%; */
       margin-left: 0.5%;
       width:98%;
    }  
    #btn button{
        margin-left: 0px;
    }
 
    #btn1{
        padding: 12% 1px;
    }

    #btn2{
        /* padding:6.8% 8px; */
        font-size: 13px;
        /* width: 38%; */
        font-weight: bold;
    }
    .file{
        /* margin-left:4%; */
        margin: 10px 0px;
    }
    

   .file-upload{
        width: 92%;
        padding: 40px 5px;

        margin-left: 0px;
        /* margin: 1%; */
   }

     .file-upload div{
        font-size: 15px;

    }
    #ip{
        margin-left: 3px;
    }







   .right{
       width: 94%;
       margin-left: 3%;
       /* margin: 8%; */
       border-radius: 15px;
       box-shadow: 0 0 10px rgb(219, 211, 211);
   }
   .right .head{
       display: block;
   }
   .head h2{
       margin-left: 13px;
       padding: 20px 0;
   }
   .head nav{
       margin: 8px 2%;
      
    }
    .head ul{
       display: flex;
       justify-content: space-around;
       /* margin: 2% 1%; */
       margin-left: 2.8%;

   }
  
   .head a{
       font-size: 13px;
   }

   .sub-right{
       display: block;
       padding: 1px 1px;
       margin-top: 5px;
       /* margin-right: 4px; */
   }

   .sub-right .con{

       margin: 30px 15px;
   }








   .foot-main{
       display: block;
       /* width: 50%; */
       text-align: center;
   }
   .foot-main div{
       padding-top: 17px;
      

   }
   .foot-main p,a{
       font-size: 20px;
   }


   #bottom{
       width: 280px;
   }

}